@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    min-width: 1000px;
    font-family: 'GothamPro','NotoSans',sans-serif;
    background: #f6ede2;
}
ul,dl,dt,dd,ol{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    display: block;
}
.cf:after{
    content: "";
    display: block;
    clear: both;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}

#wrap{
    width: 100%;
}
#container{
    width: 100%;
    margin-top: 145px;
}