@charset "utf-8";

/*헤더시작*/
#header{
    height: 103px;
    width: 100%;
    position: fixed;
    top:0;
    background: #f6ede2;
    z-index: 100;
}
#header h1{
    padding-top: 10px;
}
#header h1 a img{
    width: 333px;
    height: 79px;
    display: block;
    margin: 0 auto;
}
#header h1 a{
    display: block;
}

#header ul li a:after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    margin: 0 auto;
    margin-top: -10px;
    transition: all 0.7s linear;/*ease기본값이 빨라졌다가 느려짐,ease-in점점빨라짐, -out점점느려짐, linear선형 일정한속도로 감*/
}
#header ul li:hover a:after{
    width: 100%;
}

.gnbL{
    position: absolute;
    left: 15%;
    top: 42px;
}
.gnbR li{
    display: inline-block;
    margin-right: 50px;
}
.gnbR li:last-child{
    margin-right: 15%;
}
.gnbL li a, .gnbR li a{
    padding: 5px;
    padding-bottom: 10px;
    display: block;
}
.gnbR{
    text-align: right;
    margin-top: -47px;
}

/*topButton*/
#myBtn {
    width: 50px;
    height: 50px;
    display: none; 
    position: fixed; 
    bottom: 40px;
    right: 40px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color: #fff;
    color: #000; 
    cursor: pointer;
    padding: 15px;
    border-radius: 50%; 
    font-size: 20px;
}

#myBtn:hover {
    background-color: #000;
    color: #fff;
}

/*푸터시작*/
#footer{
    width: 100%;
    height: 347px;
    background: url(../images/common/footer_bg_.png) no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
    margin-top: -105px;
}
.footerInfo{
    text-align: center;
}
.footerInfo h3{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    padding-top: 165px;
}
.footerInfo p{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
}